/******************************/
/************ FOOTER **********/
#wrapper-footer {
    height: 5.6vw;
    text-align: justify;
}
.background-footer {
    background-color: #344b8e;
}
.menu-footer {
    font-size: 1.5em;
    margin-top: 0;
}