html {
    font-size: 12px;
}
/********** WRAPPER **********/
#wrapper {
    width: 100%;
}
#menuMovil {    
    max-width: 28px;
    float: right;
    margin-top: 5vw;
    margin-right: 2vw;
}
@import 'header';
@import 'services';
@import 'touch';
@import 'footer';