/********** WRAPPER **********/
#wrapper {
    width: 75%;
}


/********** HEADER **********/
#menu {
    position: fixed;
}
#logo {
    margin-left: 12.0625%;
    margin-top: 4.76%;
}
#menu-header {
    margin-right: 13%;
    margin-top: 5.45%;
}

.background-header {
    background-color: #87509c;
}
.width {
    width: 76.38%;
    margin: 0 auto;
}
ul.menu {
    float: right;
}

ul>li{
    text-decoration: none;
    padding: 17px 12px;
    display: inline-block;
}
li>a {
    text-decoration: none;
    color: #eae5ed;
}
li>a:hover{
    background-color: #643a79;
}
/********** SLIDER **********/
#header{
    padding-top: 15%;
}
h2 {
    font-size: 3.3em;
    @include head-font;
}
.color-head{
    color: #eae5ed;    
}

#btn-header {
    padding: 2.4% 7.3%; 
    text-decoration: none;
    @include head-font;
    color: white;
    font-size: 1.4em;
    background-color: #eb7d4b;
}
#slider{
    text-align: center;
    padding-bottom: 11.1818%;
} 
/******************************/
/********** SERVICES **********/
#wraper-services {
    padding-top: 9.5%;
}
.background-services {
    background-color: #17c2a4;
} 
#content-services>h3 {
    font-size: 3em;
    @include head-font;
    margin-top: 0;
    font-weight: 100;
    color: white;
}
h3::after {
    content: "";
    background-color: black;
    opacity: 0.13;
    width: 9.223%;
    height: 5px;
    display: block;
    margin: 0 auto;
}
#content-services>p {
    @include head-font;
    font-size: 1.75em;
    color: white;    
}
.box-width {
    width: 24%;
}
.box+.box {
    margin-right: 1%;
}
.box {
    float: left;
}
.box>p {
    @include head-font;
    font-size: 1em;
    color: white;
}
.box>h4 {
    @include head-font;
    font-size: 1.75em;
    text-transform: uppercase;
    color: white;
}
.box>img {
    margin-left: 20%;
}