@media (max-width: $breakpoint-xl){
	// 
	// General
	// 
	img.max-width {
		max-width: 80%;
	}
	.box-width {
		width: 42%;
		margin-top: 5vw;
	}

	.menu-footer {
		font-size: 1em;
	}
	
	#btn-send {
		font-size: 1.7em;
		width: 95%; 
		height: 3vw;
		padding: 4vw 2vw;
	}
}