@media (max-width: $breakpoint-sm){
	//
	// General
	.width {
		max-width: 576px;
	}
	.align-movil {
		margin: 0 auto;
	}
	.box-width {
		width: 90%;

	}
	.box {
		max-width: 576px;
		margin: 0;
		padding: 4vw 0; 
		text-align: center;
	}
	.box:nth-child(2n){
        float: none !important;
    }
    .box:nth-child(2n+1){
        float: none !important;
	}
	.box+.box {
		margin: 0;
    }
	.box-form {
		width: 100%;
		margin: 0;
	}
	.box-inpt {
		width: 98%;
		height: 5.6vw;
	}
	.box-inpt-textarea {
		width: 98%;
	}
	.label-inpt {
		margin-top: 3vw;
	}
	.box-form {
		width: 100%;
		
	}
	.box-form + .box-form {
		margin-left: 0;
	}

	/** footer **/
	#wrapper-footer {
		height: 12.6vw;
	}
	.menu-footer {
		font-size: 0.8em;
	}
}