/* 
@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

.box { @include head-font; } */

@mixin head-font {
    font: {
      family: $fontfamily;
    }
}