
/****************
      Helpers
*****************/
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
label::after {
    content: " *";
    color: #cb485b;
    clear: both;
}
.box + .box {
    margin-left: 3vw;
}